* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: sans-serif;
}

body {
    margin: 350px;
    background-color: #001533;
}

.green {
    background-color: #00e165;
    border: 5px solid white;

}

.container {
    display: flex;
    flex-direction: wrap;
    align-items: center;
    justify-content: center;
    text-align: center; 
}


h1 {
    color: #001533;
    text-align: center;
    font-size: 60px;
    font-weight: normal;
}

.time {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 15px;
}

.time h2{
    font-weight: bold;
    font-size: 60px;
    margin: 0 5px;
    color: #001533;
}

.time h4 {
    color: #001533;
    font-size: 30px;
}